<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
    <div class="header">
      <app-search></app-search>
      <ion-button (click)="myFavourites()" size="small">
        <ion-icon slot="start" name="star"></ion-icon>
        Mes favoris
      </ion-button>
      <ion-button (click)="myTeam()" size="small">
        <ion-icon slot="start" name="trophy"></ion-icon>
        Mon équipe
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div [ngClass]="'main'">
    <ion-text [ngClass]="'capitalize'">{{ pokemon?.name }}</ion-text>
    <ion-text>{{ description }}</ion-text>
  
    <ion-grid>
      <ion-text>Type.s :</ion-text>
      <ion-col *ngFor="let type of types">
        <ion-text [ngClass]="'capitalize'">{{ type?.name }}</ion-text>
      </ion-col>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <img [src]="pokemon?.sprites.front_default" [alt]="pokemon?.name" height="100" />
        <img [src]="pokemon?.sprites.back_default" [alt]="pokemon?.name" height="100" />
      </ion-row>
      <ion-row>
        <img [src]="pokemon?.sprites.front_shiny" [alt]="pokemon?.name" height="100" />
        <img [src]="pokemon?.sprites.back_shiny" [alt]="pokemon?.name" height="100" />
      </ion-row>
    </ion-grid>

    <div class="btns">
      <ion-button (click)="previous(pokemon?.id)" [disabled]="pokemon?.id == 1" shape="round"><ion-icon slot="icon-only" name="arrow-back"></ion-icon></ion-button>
      <ion-button (click)="next(pokemon?.id)" [disabled]="pokemon?.id == 10277" shape="round"><ion-icon slot="icon-only" name="arrow-forward"></ion-icon></ion-button>
    </div>

    <div class="btns">
      <ion-button (click)="favourite()">{{ textFavoris }}</ion-button>
      <ion-button (click)="team()">{{ textTeam }}</ion-button>
    </div>
    
    <ion-button (click)="goBack()">Retour</ion-button>
  </div>
</ion-content>
