.main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem;
}

.capitalize { 
    text-transform: capitalize; 
}