<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
    <div class="header">
      <app-search></app-search>
      <ion-button (click)="myFavourites()" size="small">
        <ion-icon slot="start" name="star"></ion-icon>
        Mes favoris
      </ion-button>
      <ion-button (click)="myTeam()" size="small">
        <ion-icon slot="start" name="trophy"></ion-icon>
        Mon équipe
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <ion-text>Mon équipe</ion-text>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let pokemon of team">
          <img [src]="pokemon.sprite" [alt]="pokemon.name" (click)="getPokemon(pokemon.id)" class="spritePokemon">
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button (click)="goBack()">Retour</ion-button>
  </div>
</ion-content>
