<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
    <div class="header">
      <app-search></app-search>
      <ion-button (click)="myFavourites()" size="small">
        <ion-icon slot="start" name="star"></ion-icon>
        Mes favoris
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let p of pokemons" size="2">
        <ion-text (click)="getPokemon(p.id)" [ngClass]="'capitalize'">{{ p.name }}</ion-text>
        <img [src]="p.sprite" [alt]="p.name" (click)="getPokemon(p.id)">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
