<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
    <div class="header">
      <app-search></app-search>
      <ion-button (click)="myFavourites()" size="small">
        <ion-icon slot="start" name="star"></ion-icon>
        Mes favoris
      </ion-button>
      <ion-button (click)="myTeam()" size="small">
        <ion-icon slot="start" name="trophy"></ion-icon>
        Mon équipe
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-col *ngFor="let p of pokemons">
      <img [src]="p.sprite" [alt]="p.name" (click)="getPokemon(p.id)" class="spritePokemon">
    </ion-col>
  </ion-grid>
</ion-content>
